// Hide "Keep on posting" in Archive Page
.archive .collection-title {
  display: none !important;
}

// Inline code style 
code {
  background: #eeeeee;
  color: #555555;
}

code[class*="language-"], pre[class*="language-"] {
  font-family: 'FiraCode Nerd Font', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
